<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Books</title>
</head>
<body>
    <h2>Welcome {{authenticated_user.first_name}}</h2>
    <a href="/logout">LOGOUT</a>

    <h3>Add a Favorite Book</h3>
    <form action="/books/new" method="post">
        {%csrf_token%}
        Title: <input type="text" name="title">
        Description: <textarea name="desc" cols="10" rows="5"></textarea>
        <input type="submit" value="Add">
    </form>

    <div id="list_container">
        {%for book in allBooks%}
            <div>
                <h5><a href="/books/{{book.id}}">{{book.title}}</a></h5>
                <p>(added by {{book.user_who_posted.full_name}})</p>
                {% if book in authenticated_user.books_favorited.all%}
                    <p>this is one of your favorites</p>
                {%else%}
                    <form action="/books/addFav" method="post">
                        {%csrf_token%}
                        <input type="hidden" name="book_to_fav_id" value={{book.id}}>
                        <input type="submit" value="Add To Favorites">
                    </form>
                {%endif%}
                
            </div>
        {%endfor%}
        
    </div>
</body>
</html>