<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Books</title>
</head>
<body>
    <h2>Welcome {{authenticated_user.first_name}}</h2>
    <a href="/logout">LOGOUT</a>
    {%if authenticated_user.id == selected_book.user_who_posted.id%}    
        <form action="/books/update" method="post">
            {%csrf_token%}

            <input type="hidden" name="book_id" value={{selected_book.id}}>
            <input type="text" name="title" value="{{selected_book.title}}">
            <p>Added by: {{selected_book.user_who_posted.full_name}}</p>
            <p>Added on: {{selected_book.created_at}}</p>
            <p>Last updated on: {{selected_book.updated_at}}</p>
            <p>Description</p>
            <textarea name="desc" id="" cols="30" rows="10" >{{selected_book.description}}</textarea>
            <input type="submit" value="Update">
        </form>
        <form action="/books/delete" method="post">
            {%csrf_token%}
            <input type="hidden" name="book_id" value={{selected_book.id}}>
            <input type="submit" value="Delete">
        </form>
    {% else %}
    <form action="/books/update" method="post">
        {%csrf_token%}

        <input type="hidden" name="book_id" value={{selected_book.id}}>
        <p>{{selected_book.title}}</p>
        <p>Added by: {{selected_book.user_who_posted.full_name}}</p>
        <p>Added on: {{selected_book.created_at}}</p>
        <p>Last updated on: {{selected_book.updated_at}}</p>
        <p>Description</p>
        <p>{{selected_book.description}}</p>
    </form>
    {%endif%}


    <div id="userlist">
        <h3>Users Who Like This Book</h3>
        <ul>
            {%for user in selected_book.users_who_favorited.all%}
            <li>
                <p>{{user.full_name}}</p>
                {%if authenticated_user.id == user.id%}
                    <form action="/books/unFav" method="post">
                        {%csrf_token%}
                        <input type="hidden" name="book_to_un_fav_id" value={{selected_book.id}}>
                        <input type="submit" value="Un-Favorite">
                    </form>
                {%endif%}
            </li>
            {%endfor%}
        </ul>
        {%if authenticated_user not in selected_book.users_who_favorited.all%}
        <form action="/books/addFav" method="post">
            {%csrf_token%}
            <input type="hidden" name="book_to_fav_id" value={{selected_book.id}}>
            <input type="submit" value="Add To Favorites">
        </form>
        {%endif%}

    </div>
</body>
</html>